#arena
{
	margin: 0 auto;
	margin-top: 50px;
	width: 802px;
	height: 520px;
}

#game-canvas
{
	border: 1.5px solid blue;
}

#fps{
	position: absolute;
	margin-top: -2em;
	z-index: 1;
	color: yellow;
	text-shadow: 1px 1px 1px rgb(0,0,80);
	font: bold 20px fantasy;

	//display: none;
	//opacity: 0;
	//transition: opacity 5s;
}
#music{
    display: none;
}